body{
	background-color: #C87564;
}

h4 {
	position: relative;
	margin-left: 50px;
	color: #8052C8;
}
img {
	position: relative;
	margin-left: 50px;
	margin-top: 50px;
	height: 300px;
	width: 300px;
}